@charset "ISO-8859-1";
		@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
	background-color : #ededed;
	font-family : "Open Sans", sans-serif;
	background-color : white;
	position: relative;
	min-height: 100vh;
}

h1 {padding: 40px; text-align: center; font-size: 1.5em;}

li a {text-decoration : none; color : #2d2f31;}

nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

header {
	height: 25vh;
	text-align: center;
	color: white;
	background-color: #361877;
	align-items: center;
	width: 100%;     
    z-index: 101;     /* put the header in fronnt of the left menu bar */
    box-shadow: 0 0 10px rgba(128,128,128,.8); /*shadow */
}

li {
	align-items: left;
	text-align: left;
}

table {
	border: 2px solid #361877;
}

th {
	background-color: #361877;
	color: white;
}

/*#results__result-list {
	border-right: 2px solid #361877;
}*/

footer {
	text-align: center;
	color: white;
	background-color: black;
	position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
    width: 100%;
    padding: 10px;
    display: none;
}

.basic-list {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

.basic-list li {padding : 30px;}

.basic-list li {padding : 30px;}

.advanced-search__list__label {
	width: 30%;
	text-align: right;
	font-weight: bold;
}

.result-item {
	text-align: left;
	display: flex;
	align-items: center;
}

.result-item__options{
	width: 15%;
	text-align: center;
	display: flex;
	align-items: center;
}

.result-item__options--right{
	width: 15%;
	text-align: center;
	display: block;
	align-items: right;
}

.result-item__options * {
	margin-right: auto;
}

.result-item__checkbox{
	height: 20px;
	width: 20px;
}

.icon-button{
	 border:0;
     background:none;
     height: 25px;
	 width: 25px;
}

.unformatted-button{
	 border:0;
     background:none;
     margin-left: 5%;
}

.icon-button:focus{
	 background-color:gray;
}

.result-item__title-span{
	width: 80%;
	max-width: 80%;
	text-align: center;
}

.result-item__title{
	width: fit-content;
	font-weight: bold;
	display: block;
	margin-left: 20px;
	text-align: left;
}

.result-item__info__span{
	width: 100%;
	display: inline-block;
}

.result-item__info--date{
	width: 50%;
}

.result-item__info--venue{
	width: 50%;
}

.result-item__title--error{
	width: fit-content;
	font-weight: bold;
	display: block;
	margin-left: 20px;
	text-align: left;
	color: red;
}

.result-item__publisher-title{
	width: fit-content;
	font-weight: bold;
	display: block;
	margin-left: 20px;
	text-align: center;
}

.result-item__title:visited{
	color:black;
}

.result-item__select-button{
	width: fit-content;
	font-weight: bold;
	display: block;
	margin: auto;
	text-align: right;
}

.selected-item {
	text-align: left;
	display: flex;
	align-items: center;
}

.selected-page button {
	background-color: #361877;
	color: white;
}

.left-side-td{
	border-left: 2px solid #361877;
}

.right-side-td{
	border-left: 2px solid #361877;
}

.testdiv{
	text-align: center;
}

#header-elements{
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logo {
	font-family: "Diplomata", serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    text-decoration: underline;
    color: white;
    }
    
#tag-line {
	font-family: "Marcellus SC", serif;
  	font-weight: 400;
  	font-size: 30px;
  	font-style: normal;
}

#touch {position: absolute; opacity: 0; max-height: 0px; width: 0px; background-color: #361877;}    

#touch:checked + #advanced-search__list {max-height:1000px; transition: max-height .4s ease-in;}

#search-elements {
	margin-top: auto;
	margin-bottom: 30px;
}

#search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100hv;
}

#title {
	font-family: "Playfair Display", serif;
  	font-optical-sizing: auto;
  	font-weight: bold;
  	font-size: 36px;
  	font-style: normal;
	text-align: center;
}

#search-bar__method-select {
	max-width: 130px;
	min-width: 75px;
}

#search-bar__limit-select {
	max-width: 130px;
	min-width: 75px;
}

#text-input__div {
	width: 33%;
	min-width: 33%
}

#search-bar__search-button {
	background-color: #361877;
}

#advanced-search__elements {
	background-color: white;
	align-items: center;
	margin: auto;
  	width: 33%;
  	min-width: 400px;
  	border: 2px solid #361877;
}
#advanced-search__button {
	background-color: #361877;
	width: 100vh;
	height: 100%;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 100%;
  	height: 100%;
}

#advanced-search__span {
	color : white;
  	font-size : 1.2em;
  	font-variant : small-caps;
  	cursor : pointer;
  	display: block;
	background-color: #361877;
  	justify-content: center;
 	align-items: center;
 	width: 100%;
 	height: 100%;
 	text-align: center;
}

#advanced-search__span::after {
  float: right;
  right: 10%;
  content:"";
}

#advanced-search__dropdown-arrow {
	transform: scaleX(-1);
	transform: scaleY(-1);
	transition: all ease-in-out .3s;
}

.flipped {
	transform: scaleX(2);
	transform: scaleY(2);
}

#results-number-input{
	width: 40%;
	display: inline-block;
	margin-left: 20px;
}

#touch:checked ~ #advanced-search__dropdown-arrow {
  transform: rotate(-180deg);
}

#results-elements{
	border-collapse: collapse;
	background-color: white;
	align-items: center;
	margin: auto;
  	width: 80%;
  	min-width: 400px;
  	margin-top: 50px;
  	text-align: center;
}

#results__result-column{
	width: 65%;
}

#results__selected-column{
	width: 35%;
}

#advanced-search__list {
  clear:both;
  width:100%;
  max-height:0px;
  overflow: hidden;
  transition: max-height .4s ease-out;
  margin-bottom:0;
}

#results__result-list {
text-align: center;
}

#results__selected-td{
	height: 400px;
}

#results__selected-list{
	text-align: center;
	display: block;
	max-height: fit-content;
	height: 100%;
	margin: 0px;
	padding: 0px;
	max-height: 100%;
	overflow-y: scroll;
	
}

#results__options-row{
	padding: 20px;
	padding-bottom: 10px;
}

#result-filters{
	text-align: left;
	display: flex;
	align-items: center;
}

#result-filters__button{
	font-size: 12px;
	padding: 0px;
	margin: 10px;
	background-color: #361877;
	color: white;
	display: inline-block;
}

#result-pagination{
	width: 80%;
}

#pagination-list{
	padding: 0px;
	margin: 0px;
}

.page-link {
	font-size: 12px;
	margin: auto;
	padding: auto;
	color: #361877;
}

#results__selected-list {
text-align: center;
}

#file-upload-input {
	display: none;
}

.engine-div{
	height: 100%;
	width: 45%;
	display: inline-block;
	padding: 20px;
}

.engine-button{
	height: 100%;
	width: 100%;
	display: inline-block;
	transition: all 0.3s ease; 
}

.engine-button:hover { 
  transform: scale(1.1); 
    z-index: 101;     /* put the header in fronnt of the left menu bar */
    box-shadow: 0 0 10px rgba(128,128,128,.8); /*shadow */
} 

.engine-label{
	font-family: "Marcellus SC", serif;
}

#search-engines_div{
	height:100%;
	text-align:center;
}

#content{
	height:300px;
}
